/*

===============================
Footer Area
===============================

*/
.footer-area {
    position: relative;
    z-index: 1;
    .footer-widget {
      margin-bottom: 30px;
      color: $cl-white;
      h3 {
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: -4px;
        font-weight: 600;
        position: relative;
        color: $cl-white;
        text-transform: capitalize;
      }
      p {
        margin-bottom: 20px;
        color: $cl-white;
      }
      .social {
        a {
          height: 35px;
          width: 35px;
          line-height: 35px;
          border-radius: 50%;
          background: $cl-white;
          font-size: 13px;
          text-align: center;
          margin-right: 5px;
          display: inline-block;
          &:hover {
            background: $cl-mint;
            color: $cl-white;
          }
        }
      }
      &.footer-nav {
        margin-bottom: 30px;
        ul {
          li {
            margin-bottom: 10px;
            position: relative;
            transition: 0.4s;
            &:last-child {
              margin-bottom: 0;
            }
            &:hover {
              color: #73e457;
            }
            a {
              color: $cl-white;
              text-transform: capitalize;
              font-family: $headding-font;
              padding-left: 25px;
              position: relative;
              &::before {
                position: absolute;
                content: "\f25a";
                transform: rotate(90deg);
                left: 0;
                top: -3px;
                font-family: Fontawesome;
                font-size: 12px;
              }
              &:hover {
                color: #73e457;
              }
            }
          }
        }
      }
      &.footer-insta {
        .row {
          margin: 0 -2px;
          [class*="col"] {
            padding: 0 2px;
            margin-bottom: 4px;
            a {
              position: relative;
              display: block;
              img {
                width: 100%;
              }
              &::before {
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
                left: 0;
                top: 0;
                background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
                opacity: 0;
                transition: 0.4s;
                z-index: 1;
              }
              &:after {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: $cl-white;
                font-size: 16px;
                content: "\f06e";
                font-family: Fontawesome;
                opacity: 0;
                z-index: 2;
                transition: 0.4s;
              }
              &:hover {
                &::before {
                  opacity: 0.8;
                }
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }  
  }

  
  
/*

===============================
Copyright Area
===============================

*/
.copyright {
  padding: 20px 0;
  background: #212935;
  p {
    color: $cl-white;
    margin: 0;
    @media (max-width: 767px){
      text-align: center;
    }
  }
  ul {
    float: right;
    @media (max-width: 767px){
      float: none;
      text-align: center;
    }
    li {
      display: inline-block;
      margin-left: 10px;
      @media (max-width: 767px){
        margin-left: 0px;
      }
      a {
        color: $cl-black;
        &:hover {
          color: $cl-primary;
        }
      }
    }
  }
}

  