


// Font Family
$main-font: 'Rubik', sans-serif;
$headding-font: 'Quicksand', sans-serif;



// Colors
$cl-black: #292929;
$cl-black-2: #434a53;
$cl-white: #ffffff;
$cl-primary: #18dcff;
$cl-blue: #5350ff;
$cl-green: #86BC42;
$cl-mint: #17c0eb;
$cl-yellow: #ffb142;


// Gradient Colors
$gradient-mix-color-one: #FE1360;
$gradient-mix-color-two: #FB653C;

$gradient-mix-color-1: #FD5B82;
$gradient-mix-color-2: #FF828A;


// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









