/* ---------------------------------------

[Main Stylesheet]

Project:    	  Bankus - Banking and Loan HTML Template
Version:    	  1.0
Primary Use:      Banking business HTML Template

------------------------------------------

[Table of contents]

1. Fonts
2. Reset Css
3. Global Settings
4. Section Styles
5. Colors
6. Margin and Padding
7. Background Overlay
8. Buttons Style
9. Preloader
10. ScrollUp Button
11. Main Header style
12. Hero Area
13. Features Area
14. Custom Hero
15. Promo Area
16. Our Partners
17. Pricing Table
18. Why Choose us
19. Parallax Area
20. Testimonial Area
21. Counter Area
22. App Area
23. Blog Area
24. Footer Area
25. Custom Banner
26. About Area
27. Award Area
28. Card Features
29. All Partners Area
30. Team Area
31. Card Apply Form
32. Become Partner Area
33. Card Details Area
34. Choose Card
35. Faq Area
36. Error Area

-------------------------------------------*/
/***

================
	Fonts
================


font-family: 'Rubik', sans-serif;
font-family: 'Quicksand', sans-serif;

 ***/
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700|Rubik:300,400,500,700&display=swap");
/*
  Flaticon icon font: Flaticon
*/
@font-face {
    font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @    font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-add:before {
    content: "\f100";
}

.flaticon-bag:before {
    content: "\f101";
}

.flaticon-battery:before {
    content: "\f102";
}

.flaticon-bell:before {
    content: "\f103";
}

.flaticon-bluetooth:before {
    content: "\f104";
}

.flaticon-bookmark:before {
    content: "\f105";
}

.flaticon-briefcase:before {
    content: "\f106";
}

.flaticon-calendar:before {
    content: "\f107";
}

.flaticon-cancel:before {
    content: "\f108";
}

.flaticon-cancel-1:before {
    content: "\f109";
}

.flaticon-clip:before {
    content: "\f10a";
}

.flaticon-clock:before {
    content: "\f10b";
}

.flaticon-clock-1:before {
    content: "\f10c";
}

.flaticon-cloud:before {
    content: "\f10d";
}

.flaticon-correct:before {
    content: "\f10e";
}

.flaticon-credit-card:before {
    content: "\f10f";
}

.flaticon-cursor:before {
    content: "\f110";
}

.flaticon-cursor-1:before {
    content: "\f111";
}

.flaticon-cut:before {
    content: "\f112";
}

.flaticon-cutlery:before {
    content: "\f113";
}

.flaticon-down-arrow:before {
    content: "\f114";
}

.flaticon-download:before {
    content: "\f115";
}

.flaticon-edit:before {
    content: "\f116";
}

.flaticon-envelope:before {
    content: "\f117";
}

.flaticon-export:before {
    content: "\f118";
}

.flaticon-favorite:before {
    content: "\f119";
}

.flaticon-file:before {
    content: "\f11a";
}

.flaticon-folder:before {
    content: "\f11b";
}

.flaticon-forward:before {
    content: "\f11c";
}

.flaticon-gallery:before {
    content: "\f11d";
}

.flaticon-gamepad:before {
    content: "\f11e";
}

.flaticon-garbage:before {
    content: "\f11f";
}

.flaticon-headphones:before {
    content: "\f120";
}

.flaticon-heart:before {
    content: "\f121";
}

.flaticon-help:before {
    content: "\f122";
}

.flaticon-home:before {
    content: "\f123";
}

.flaticon-hourglass:before {
    content: "\f124";
}

.flaticon-info:before {
    content: "\f125";
}

.flaticon-layer:before {
    content: "\f126";
}

.flaticon-layout:before {
    content: "\f127";
}

.flaticon-left-arrow:before {
    content: "\f128";
}

.flaticon-left-arrow-1:before {
    content: "\f129";
}

.flaticon-lightning:before {
    content: "\f12a";
}

.flaticon-link:before {
    content: "\f12b";
}

.flaticon-logout:before {
    content: "\f12c";
}

.flaticon-magnet:before {
    content: "\f12d";
}

.flaticon-map:before {
    content: "\f12e";
}

.flaticon-menu:before {
    content: "\f12f";
}

.flaticon-monitor:before {
    content: "\f130";
}

.flaticon-moon:before {
    content: "\f131";
}

.flaticon-padnote:before {
    content: "\f132";
}

.flaticon-paint:before {
    content: "\f133";
}

.flaticon-pause:before {
    content: "\f134";
}

.flaticon-photo-camera:before {
    content: "\f135";
}

.flaticon-placeholder:before {
    content: "\f136";
}

.flaticon-play-button:before {
    content: "\f137";
}

.flaticon-power:before {
    content: "\f138";
}

.flaticon-presentation:before {
    content: "\f139";
}

.flaticon-printer:before {
    content: "\f13a";
}

.flaticon-profile:before {
    content: "\f13b";
}

.flaticon-prohibition:before {
    content: "\f13c";
}

.flaticon-push-pin:before {
    content: "\f13d";
}

.flaticon-puzzle:before {
    content: "\f13e";
}

.flaticon-refresh:before {
    content: "\f13f";
}

.flaticon-remove:before {
    content: "\f140";
}

.flaticon-rewind:before {
    content: "\f141";
}

.flaticon-right-arrow:before {
    content: "\f142";
}

.flaticon-right-arrow-1:before {
    content: "\f143";
}

.flaticon-rocket-launch:before {
    content: "\f144";
}

.flaticon-screen:before {
    content: "\f145";
}

.flaticon-search:before {
    content: "\f146";
}

.flaticon-settings:before {
    content: "\f147";
}

.flaticon-settings-1:before {
    content: "\f148";
}

.flaticon-settings-2:before {
    content: "\f149";
}

.flaticon-share:before {
    content: "\f14a";
}

.flaticon-shield:before {
    content: "\f14b";
}

.flaticon-shopping-cart:before {
    content: "\f14c";
}

.flaticon-shutter:before {
    content: "\f14d";
}

.flaticon-smartphone:before {
    content: "\f14e";
}

.flaticon-speech-bubble:before {
    content: "\f14f";
}

.flaticon-speedometer:before {
    content: "\f150";
}

.flaticon-stats:before {
    content: "\f151";
}

.flaticon-store:before {
    content: "\f152";
}

.flaticon-sun:before {
    content: "\f153";
}

.flaticon-switch:before {
    content: "\f154";
}

.flaticon-tag:before {
    content: "\f155";
}

.flaticon-target:before {
    content: "\f156";
}

.flaticon-timer:before {
    content: "\f157";
}

.flaticon-unlock:before {
    content: "\f158";
}

.flaticon-up-arrow:before {
    content: "\f159";
}

.flaticon-upload:before {
    content: "\f15a";
}

.flaticon-video:before {
    content: "\f15b";
}

.flaticon-video-camera:before {
    content: "\f15c";
}

.flaticon-visible:before {
    content: "\f15d";
}

.flaticon-voice-recorder:before {
    content: "\f15e";
}

.flaticon-volume:before {
    content: "\f15f";
}

.flaticon-waiting:before {
    content: "\f160";
}

.flaticon-wifi:before {
    content: "\f161";
}

.flaticon-zoom:before {
    content: "\f162";
}

.flaticon-zoom-out:before {
    content: "\f163";
}

/***

===============
	Reset Css
===============

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/***

===================
	Global Settings
===================

 ***/
body {
    font-size: 16px;
    color: #292929;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: "Rubik", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    color: #292929;
}

button,
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none !important;
    transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-weight: 700;
    margin: 0px;
    background: none;
    line-height: 1.2em;
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

input, button, select, textarea {
    outline: none;
}

textarea {
    overflow: hidden;
}

p {
    position: relative;
    font-family: "Rubik", sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    display: inline-block;
    max-width: 100%;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

::selection {
    background-color: #00C9B724;
    color: #5350ff;
}

-moz-::selection {
    background-color: #00C9B724;
    color: #5350ff;
}

-webkit-::selection {
    background-color: #00C9B724;
    color: #5350ff;
}

-o-::selection {
    background-color: #00C9B724;
    color: #5350ff;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.border-0 {
    border: 0px;
}

.radius-50 {
    border-radius: 50px !important;
}

.centered {
    text-align: center;
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

/***

==================
    Color Classes
==================

***/
.cl-black {
    color: #292929;
}

.cl-primary {
    color: #18dcff;
}

.cl-white {
    color: #ffffff;
}

.cl-blue {
    color: #5350ff;
}

.cl-blue-2 {
    color: #5350ff;
}

.cl-green {
    color: #86BC42;
}

.cl-mint {
    color: #17c0eb;
}

.cl-yellow {
    color: #ffb142;
}

.cl-facebook {
    color: #3B5999;
}

.cl-twitter {
    color: #55ACEE;
}

.cl-youtube {
    color: #CD201F;
}

.cl-pinterest {
    color: #BD081C;
}

.cl-instagram {
    color: #F5214A;
}

.facebook-bg {
    background: #3B5999;
}

.twitter-bg {
    background: #55ACEE;
}

.youtube-bg {
    background: #CD201F;
}

.pinterest-bg {
    background: #BD081C;
}

.google-plus-bg {
    background: #DD5144;
}

.linkedin-bg {
    background: #0077B5;
}

.instagram-bg {
    background: #F5214A;
}

/***

==================
    Section Styles
==================

***/
.container {
    max-width: 1200px;
}

.section-padding {
    padding: 120px 0;
}

.section-padding-2 {
    padding-top: 120px;
    padding-bottom: 90px;
}

.section-padding-3 {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section-title {
    margin-bottom: 35px;
    margin-top: -6px;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    z-index: 1;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: -6px;
}

.section-title h2 span {
    color: #18dcff;
}

.section-title h4 {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 10px;
    color: #5350ff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 3px;
}

.section-title p {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .section-padding {
        padding: 100px 0;
    }

    .section-padding-2 {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .section-padding-3 {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .section-padding {
        padding: 80px 0;
    }

    .section-padding-2 {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .section-padding-3 {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 36px;
    }
}

@media (max-width: 450px) {
    .section-title h2 {
        font-size: 32px;
    }
}

/***

=======================
    Margin and Padding
=======================

***/
/*
    Margin Top styles
*/
.mar-0 {
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

/*
    Margin Bottom Styles
*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

/*
    Margin Right Styles
*/
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

/*
    Padding Top Styles
*/
.pad-0 {
    padding: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

/*
    Padding Bottom Styles
*/
.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

/***

============================
    Background and Overlay
============================

***/
.gray-bg {
    background: #F9F9F9;
}

.black-bg {
    background: #292929;
}

.black-bg-2 {
    background: #555555;
}

.primary-bg {
    background: #18dcff;
}

.primary-light-bg {
    background: #00C9B72c;
}

.primary-bg-dark {
    background: #037EBD;
}

.white-bg {
    background: #ffffff;
}

.blue-bg {
    background: #5350ff;
}

.light-blue-bg {
    background: #234BA5;
}

.green-bg {
    background: #86BC42;
}

.blue-bg-2 {
    background: #000040;
}

.yellow-bg {
    background: #FDB62F;
}

.yellow-light-bg {
    background: #FEEDCD;
}

.purple-bg {
    background: #8E0EF0;
}

.purple-light-bg {
    background: #E8CFFC;
}

.mint-bg {
    background: #17c0eb;
}

.transparent-bg {
    background: transparent;
}

.gradient-bg {
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
}

.dark-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.dark-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #111;
    content: "";
    z-index: -1;
    opacity: .6;
}

.mint-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.mint-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #17c0eb;
    content: "";
    z-index: -1;
    opacity: .7;
}

.blue-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.blue-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #240e9a;
    content: "";
    z-index: -1;
    opacity: .65;
}

.gradient-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.gradient-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #46e3e4 0%, #681ac7 100%);
    content: "";
    z-index: -1;
    opacity: .8;
}

/***

===================
    Buttons Style
===================

***/
.bttn-mid {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 40px;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: "Quicksand", sans-serif;
}

.bttn-small {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
}

.bttn-mid i, .bttn-small i {
    margin-right: 7px;
}

.btn-fill {
    color: #ffffff;
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
}

.btn-fill:hover {
    background: #ffffff;
    color: #5350ff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.bttn-mid.btn-emt {
    padding: 12px 41px;
}

.btn-emt {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-emt:hover {
    color: #fff;
    box-shadow: none;
    background: #5350ff;
    border: 2px solid transparent;
}

.btn-wht {
    background: #ffffff;
    color: #18dcff;
}

.btn-wht:hover {
    background: #18dcff;
    color: #ffffff;
}

/* ==============================
    Preloader
    ============================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 4px solid #5350ff;
    border-top-color: #ffffff;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*
==============================
    ScrollUp Button
==============================
*/
a#scrollUp {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
}

/*

==========================
  Main Header style
==========================

*/
.header-top {
    color: #292929;
    padding: 10px 0;
}

.header-top .single-header-top p {
    margin: 0;
    margin-top: 3px;
    font-size: 14px;
    display: inline-block;
}

.header-top .single-header-top p span {
    margin-right: 20px;
}

.header-top .single-header-top p span i {
    margin-right: 5px;
}

.header-top .single-header-top p span a {
    color: #292929;
}

.header-top .single-header-top p span a:hover {
    color: #5350ff;
}

.header-top .single-header-top ul {
    display: inline-block;
    margin-left: 20px;
}

.header-top .single-header-top ul li {
    display: inline-block;
    margin: 0 8px;
}

.header-top .single-header-top ul li:last-child {
    margin-right: 0;
}

.header-top .single-header-top ul li a {
    color: #434a53;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.header-top .single-header-top ul li a i {
    margin-right: 5px;
}

.header-top .single-header-top ul li a:hover {
    color: #5350ff;
    text-decoration: underline;
}

.header-top .single-header-top .account-menu {
    float: right;
}

@media (max-width: 767px) {
    .header-top .single-header-top .account-menu {
        float: none;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .header-top .single-header-top .account-menu ul {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .header-top .single-header-top {
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .header-top .single-header-top.last {
        margin-bottom: 0px;
    }
}

.acc-tab-btn {
    width: 100%;
    background: #5350ff;
    text-align: center;
    border: 3px solid #5350ff;
}

.acc-tab-btn li {
    width: 50%;
    float: left;
}

.acc-tab-btn li a {
    width: 100%;
    padding: 12px 0;
    display: inline-block;
    color: #ffffff;
}

.acc-tab-btn li a.active {
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
}

.social-login {
    text-align: center;
    margin-bottom: 20px;
}

.social-login a {
    padding: 6px 18px;
    margin-right: 10px;
    color: #ffffff;
    display: inline-block;
    border-radius: 4px;
}

@media (max-width: 420px) {
    .social-login a {
        margin-bottom: 5px;
    }
}

.social-login a i {
    margin-right: 5px;
}

.acc-form input {
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    margin-bottom: 15px;
    text-indent: 15px;
    transition: 0.3s;
}

.acc-form input:focus {
    border: 2px solid #5350ff;
}

.acc-form button {
    width: 100%;
}

.header-area {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    z-index: 11;
}

.header-area.fixed-header {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 11;
    background: #eff8ff;
    position: fixed;
    border-bottom: 1px solid #dbefff;
}

.header-area.fixed-header ul li::before {
    color: #292929;
}

.header-area.fixed-header ul li:hover::before {
    color: #18dcff;
}

.header-area.fixed-header ul li a {
    color: #292929;
}

@media (max-width: 991px) {
    .header-area.fixed-header ul li a {
        color: #ffffff;
    }
}

.header-area.fixed-header ul li a:hover {
    color: #18dcff;
}

.header-area.fixed-header .header-btn button {
    color: #292929;
}

.header-sticky {
    background: transparent;
}

.sticky-header {
    background: #ffffff;
    padding: 10px 0;
}

.navbar-brand img {
    height: 26px;
    width: auto;
}

.main-menu {
    padding-left: 0;
    padding-right: 0;
}

.main-menu ul li {
    margin-right: 25px;
}

.main-menu ul li:last-child {
    margin-right: 0px;
}

.main-menu ul li:hover a {
    color: #18dcff;
}

.main-menu ul li a {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}

.main-menu ul li:nth-last-of-type(1) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(2) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(3) .dropdown-menu .dropdown-menu {
    left: -100%;
    top: 0;
}

ul.dropdown-menu li a {
    text-transform: capitalize;
}

li.nav-item.dropdown .dropdown-toggle {
    position: relative;
}

li.nav-item.dropdown .dropdown-toggle:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: normal;
    right: -7px;
    top: 48%;
    transform: translateY(-48%);
}

@media (max-width: 991px) {
    li.nav-item.dropdown .dropdown-toggle:before {
        display: none;
    }
}

.dropdown-menu li.nav-item.dropdown:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 15px;
    top: 48%;
    transform: translateY(-48%) rotate(-90deg);
    color: #292929;
}

.dropdown a {
    transition: 0.4s;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: block;
    background: #ffffff;
    margin-top: 23px;
    width: 220px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
    box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
}

.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -5px, 0);
}

.dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #292929 !important;
}

.dropdown-menu a:hover {
    background: transparent;
}

.dropdown-menu a:active {
    background: transparent;
}

ul.dropdown-menu li .dropdown-menu {
    left: 100%;
    top: 0;
}

@media (max-width: 991px) {
    ul.dropdown-menu li .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
    }
}

.main-menu ul li ul li {
    margin-right: 0;
}

/* Menu Border Bottom */
.menu-toggle {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #292929;
    border-bottom: 2px solid #292929;
    color: #292929;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #292929;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

span.menu-toggle:hover {
    color: #ffb606;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-toggle::after {
    display: none;
}

.black-bg .menu-toggle {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.black-bg .menu-toggle::before, .black-bg .menu-toggle::after {
    background: #ffffff;
}

.black-bg .menu-toggle.is-active {
    border-color: transparent;
}

.header-btn {
    margin-left: 40px;
}

.header-btn button {
    color: #ffffff;
    background: transparent;
}

.header-btn button:hover {
    color: #18dcff;
}

.search-btn {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

/* Full Screen Search */
.search-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: #17c0eb;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
}

.search-full.open {
    height: 150px;
    opacity: 1;
    visibility: visible;
}

.search-full.close {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.search-full .search-close {
    color: #18dcff;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    background: transparent;
    color: #ffffff;
}

.search-full .search-close:hover {
    transform: rotate(90deg);
}

.search-full--inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.main-search-form {
    width: 100%;
}

.main-search-form input {
    border: 2px solid #ffffff;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 55px;
    font-size: 18px;
    font-weight: 300;
    text-indent: 20px;
    transition: 0.4s;
}

.main-search-form input:focus, .main-search-form input:hover {
    border: 2px solid #ffffff;
}

.main-search-form input::-webkit-input-placeholder {
    color: #ffffff;
}

.main-search-form input::-moz-placeholder {
    color: #ffffff;
}

.main-search-form input:-ms-input-placeholder {
    color: #ffffff;
}

.main-search-form input:-moz-placeholder {
    color: #ffffff;
}

@media (max-width: 991px) {
    .navbar-brand {
        margin-left: 15px;
    }

    .main-menu ul li {
        margin-right: 0;
        position: relative;
        margin: 3px 0;
    }

    .main-menu ul li.dropdown a {
        z-index: 999;
        position: relative;
        color: #ffffff;
    }

    .main-menu ul li a {
        color: #ffffff;
    }

    .main-menu ul li.dropdown:after {
        position: absolute;
        content: "\f107";
        font-family: FontAwesome;
        right: 15px;
        top: 0;
        color: #ffffff;
        line-height: 45px;
        overflow: hidden;
        z-index: 1;
        width: 45px;
        text-align: center;
        background: #18dcff;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu {
        width: auto;
        margin: 10px 15px 10px 0;
        background: #ffffff;
    }

    .navbar-collapse {
        margin-top: 20px;
        padding-left: 15px;
        max-height: 450px;
        overflow: auto;
        background: #292929;
        padding-bottom: 20px;
    }

    .cart-btn {
        margin-left: 0;
        margin-top: 15px;
    }

    li.nav-item.dropdown:before {
        display: none;
    }

    .header-btn {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .main-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .navbar-toggler {
        padding-right: 0;
    }
}

/*

===============================
Footer Area
===============================

*/
.footer-area {
    position: relative;
    z-index: 1;
}

.footer-area .footer-widget {
    margin-bottom: 30px;
    color: #ffffff;
}

.footer-area .footer-widget h3 {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: -4px;
    font-weight: 600;
    position: relative;
    color: #ffffff;
    text-transform: capitalize;
}

.footer-area .footer-widget p {
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-area .footer-widget .social a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #ffffff;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}

.footer-area .footer-widget .social a:hover {
    background: #17c0eb;
    color: #ffffff;
}

.footer-area .footer-widget.footer-nav {
    margin-bottom: 30px;
}

.footer-area .footer-widget.footer-nav ul li {
    margin-bottom: 10px;
    position: relative;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-nav ul li:last-child {
    margin-bottom: 0;
}

.footer-area .footer-widget.footer-nav ul li:hover {
    color: #73e457;
}

.footer-area .footer-widget.footer-nav ul li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    padding-left: 25px;
    position: relative;
}

.footer-area .footer-widget.footer-nav ul li a::before {
    position: absolute;
    content: "\f25a";
    transform: rotate(90deg);
    left: 0;
    top: -3px;
    font-family: Fontawesome;
    font-size: 12px;
}

.footer-area .footer-widget.footer-nav ul li a:hover {
    color: #73e457;
}

.footer-area .footer-widget.footer-insta .row {
    margin: 0 -2px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] {
    padding: 0 2px;
    margin-bottom: 4px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a {
    position: relative;
    display: block;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a img {
    width: 100%;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    content: "\f06e";
    font-family: Fontawesome;
    opacity: 0;
    z-index: 2;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover::before {
    opacity: 0.8;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover:after {
    opacity: 1;
}

/*

===============================
Copyright Area
===============================

*/
.copyright {
    padding: 20px 0;
    background: #212935;
}

.copyright p {
    color: #ffffff;
    margin: 0;
}

@media (max-width: 767px) {
    .copyright p {
        text-align: center;
    }
}

.copyright ul {
    float: right;
}

@media (max-width: 767px) {
    .copyright ul {
        float: none;
        text-align: center;
    }
}

.copyright ul li {
    display: inline-block;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .copyright ul li {
        margin-left: 0px;
    }
}

.copyright ul li a {
    color: #292929;
}

.copyright ul li a:hover {
    color: #18dcff;
}

/*

===============================
Hero Area
===============================

*/
.hero-section {
    position: relative;
}

.hero-section .hero-area-1 .single-hero {
    background-size: cover !important;
    z-index: 1;
}

.hero-section .hero-area-1 .single-hero .hero-sub {
    width: 100%;
    color: #ffffff;
    padding: 250px 0;
}

@media (max-width: 1024px) {
    .hero-section .hero-area-1 .single-hero .hero-sub {
        text-align: center;
        height: auto;
        padding: 150px 0;
    }
}

.hero-section .hero-area-1 .single-hero .hero-sub .hero-left h4 {
    color: #ffb142;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
}

.hero-section .hero-area-1 .single-hero .hero-sub .hero-left h1 {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section .hero-area-1 .single-hero .hero-sub .hero-left h1 span {
    color: #ffb142;
}

@media (max-width: 575px) {
    .hero-section .hero-area-1 .single-hero .hero-sub .hero-left h1 {
        font-size: 36px;
    }
}

.hero-section .hero-area-1 .single-hero .hero-sub .hero-left p {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

@media (max-width: 350px) {
    .hero-section .hero-area-1 .single-hero .hero-sub .hero-left a {
        margin: 0;
        margin-top: 15px;
    }
}

.hero-section .hero-area-1 .owl-dots {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    text-align: center;
}

.hero-section .hero-area-1 .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 6px 0;
    display: block;
}

.hero-section .hero-area-1 .owl-dots .owl-dot span {
    color: #5350ff;
}

.hero-section .hero-area-1 .owl-dots .owl-dot.active {
    border-color: #ffb142;
    background: #ffb142;
}

.hero-section .hero-area-2 .single-hero {
    background-size: cover !important;
    z-index: 1;
}

.hero-section .hero-area-2 .single-hero .hero-sub {
    display: table;
    height: 100vh;
    width: 100%;
    color: #ffffff;
}

@media (max-width: 1333px) {
    .hero-section .hero-area-2 .single-hero .hero-sub {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .hero-section .hero-area-2 .single-hero .hero-sub {
        height: auto;
        padding: 150px 0 100px 0;
    }
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left {
    margin-top: 80px;
}

@media (max-width: 991px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left {
        margin-top: 0;
    }
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left h4 {
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 2px;
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

@media (max-width: 575px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left h1 {
        font-size: 36px;
    }
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5em;
}

@media (max-width: 350px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left a {
        margin: 0;
        margin-top: 15px;
    }
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left.hero-shade {
    padding: 70px 90px;
    background: #ffffff5c;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 500px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left.hero-shade {
        padding: 70px 50px;
    }
}

@media (max-width: 400px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left.hero-shade {
        padding: 70px 30px;
    }
}

@media (max-width: 350px) {
    .hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left.hero-shade {
        padding: 70px 15px;
    }
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left .video-play {
    font-size: 10px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    color: #5350ff;
}

.hero-section .hero-area-2 .single-hero .hero-sub .table-cell .hero-left .video-play:hover {
    color: #ffb142;
}

.hero-section .hero-area-2 .owl-nav {
    display: block;
}

.hero-section .hero-area-2 .owl-nav button {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #292929;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.hero-section .hero-area-2 .owl-nav button.owl-next {
    left: auto;
    right: 50px;
}

@media (max-width: 991px) {
    .hero-section .hero-area-2 .owl-nav {
        display: none;
    }
}

/*

===============================
Widgets Area
===============================

*/
.widgets-area {
    margin-top: -90px;
    z-index: 1;
    position: relative;
}

@media (max-width: 991px) {
    .widgets-area {
        margin-top: 120px;
    }
}

.widgets-area .single-widget {
    padding: 50px 40px;
    color: #ffffff;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .widgets-area .single-widget {
        margin-bottom: 70px;
    }
}

.widgets-area .single-widget i {
    font-size: 32px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    z-index: 999999;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

.widgets-area .single-widget h4 {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 24px;
    text-transform: capitalize;
}

.widgets-area .single-widget p {
    margin: 0;
}

/*

===============================
About Area
===============================

*/
.about-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .about-area {
        flex-direction: column;
    }
}

.about-area .about-left {
    width: 50%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 767px) {
    .about-area .about-left {
        height: 450px;
        width: 100%;
    }
}

.about-area .about-left .about-img-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.about-area .about-left .left-img-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-area .about-left .left-img-wrap a {
    background: #17c0eb;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 78px;
}

.about-area .about-left .left-img-wrap a img {
    height: 25px;
    width: auto;
}

.about-area .about-content {
    width: 50%;
    z-index: 2;
    padding: 120px 0 120px 0;
}

@media (max-width: 767px) {
    .about-area .about-content {
        width: 100%;
        padding-bottom: 40px;
        padding-top: 90px;
    }
}

@media (max-width: 575px) {
    .about-area .about-content {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

.about-area .about-content .about-content-inner {
    max-width: 585px;
    padding-left: 60px;
}

@media (max-width: 1024px) {
    .about-area .about-content .about-content-inner {
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .about-area .about-content .about-content-inner {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    .about-area .about-content .about-content-inner {
        padding: 0 20px;
        text-align: center;
    }
}

.about-area .about-content .about-content-inner p {
    margin-bottom: 30px;
}

.about-area .about-content .about-content-inner ul {
    margin-bottom: 20px;
}

.about-area .about-content .about-content-inner ul li {
    margin-bottom: 15px;
}

.about-area .about-content .about-content-inner ul li:last-child {
    margin-bottom: 0;
}

.about-area .about-content .about-content-inner ul li i {
    color: #18dcff;
    margin-right: 5px;
}

.about-area .about-content .about-content-inner .section-title h2:after {
    left: 25px;
}

.about-area .about-content .about-content-inner-2 {
    width: 585px;
    margin: auto;
    text-align: left;
    margin-right: 0;
    padding-right: 60px;
    color: #434a53;
}

@media (max-width: 1180px) {
    .about-area .about-content .about-content-inner-2 {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    .about-area .about-content .about-content-inner-2 {
        padding-right: 80px;
    }
}

@media (max-width: 991px) {
    .about-area .about-content .about-content-inner-2 {
        width: 100%;
        padding: 0 60px;
    }
}

@media (max-width: 450px) {
    .about-area .about-content .about-content-inner-2 {
        width: 100%;
        padding: 0 30px;
    }
}

.about-area .about-content .about-content-inner-2 p {
    margin-bottom: 30px;
}

.about-area .about-content .about-content-inner-2 .sign {
    width: 180px;
}

.about-area .about-content .about-content-inner-2 ul li {
    margin-bottom: 15px;
}

.about-area .about-content .about-content-inner-2 ul li:last-child {
    margin-bottom: 0;
}

.about-area .about-content .about-content-inner-2 ul li i {
    color: #18dcff;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .about-area.section-padding {
        padding-top: 0;
    }
}

.about-area .single-about {
    text-align: center;
    position: relative;
}

.about-area .single-about img {
    width: 100%;
}

.about-area .single-about a {
    background: #18dcff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 68px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-area .single-about a img {
    height: 25px;
    width: auto;
}

.about-area .single-about .counting b {
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 0 25px;
}

@media (max-width: 450px) {
    .about-area .single-about .counting b {
        border-right: 0px;
        margin-bottom: 20px;
    }
}

.about-area .single-about .counting b span {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.about-area .single-about .counting b:last-child {
    border-right: 0;
}

/*

===============================
Services Area
===============================

*/
.services-area .single-service {
    margin-bottom: 30px;
    overflow: hidden;
}

.services-area .single-service .service-icon {
    float: left;
    margin-right: 8px;
    width: 15%;
}

.services-area .single-service .service-icon i {
    font-size: 38px;
    margin-top: 6px;
    display: inline-block;
    color: #18dcff;
    transition: 0.4s;
}

.services-area .single-service .service-content {
    float: left;
    width: 80%;
}

.services-area .single-service .service-content h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.services-area .single-service .service-content h4 a {
    color: #292929;
}

.services-area .single-service .service-content p {
    margin-bottom: 0px;
}

.services-area .single-service:hover h4 a, .services-area .single-service:hover i {
    color: #5350ff;
}

.services-area .single-service-2 {
    padding: 30px;
    border: 1px solid #b7b5b52e;
    margin-bottom: 60px;
    transition: 0.4s;
    position: relative;
}

.services-area .single-service-2 .service-icon {
    margin-top: -60px;
    margin-bottom: 20px;
}

.services-area .single-service-2 .service-icon i {
    font-size: 24px;
    display: inline-block;
    color: #5350ff;
    transition: 0.4s;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.services-area .single-service-2 .service-content h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.services-area .single-service-2 .service-content h4 a {
    color: #292929;
}

.services-area .single-service-2 .service-content h4 a span {
    font-size: 42px;
    font-weight: 700;
    color: #5350ff17;
    position: absolute;
    top: -20px;
    right: -10px;
    transition: 0.4s;
}

.services-area .single-service-2 .service-content p {
    margin-bottom: 0;
}

.services-area .single-service-2:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.services-area .single-service-2:hover .service-icon i {
    box-shadow: none;
    background: #5350ff;
    color: #ffffff;
}

.services-area .single-service-2:hover .service-content h4 a {
    color: #5350ff;
}

.services-area .single-service-2:hover .service-content h4 a span {
    color: #5350ff6b;
}

.services-area .single-service-3 {
    padding: 50px 30px;
    border: 1px solid #4843d31a;
    margin-bottom: 30px;
    border-radius: 4px;
    text-align: center;
    transition: 0.4s;
}

.services-area .single-service-3 .service-icon {
    margin-bottom: 20px;
}

.services-area .single-service-3 .service-icon i {
    font-size: 46px;
    display: inline-block;
    color: #5350ff;
    transition: 0.4s;
}

.services-area .single-service-3 .service-content h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.services-area .single-service-3 .service-content h4 a {
    color: #292929;
}

.services-area .single-service-3 .service-content p {
    margin-bottom: 0;
}

.services-area .single-service-3:hover {
    box-shadow: 0px 0px 15px 0px rgba(72, 67, 211, 0.12);
}

.services-area .single-service-3:hover .service-icon i {
    animation-name: heartbeat;
    -webkit-animation-name: heartbeat;
    -moz-animation-name: heartbeat;
    -o-animation-name: heartbeat;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
}

.services-area .single-service-3:hover .service-content h4 a {
    color: #5350ff;
}

.services-area .service-details img {
    margin-bottom: 30px;
    width: 100%;
}

.services-area .service-details h3 {
    margin-bottom: 20px;
}

.services-area .service-details h4 {
    margin-bottom: 10px;
}

.services-area .service-details p {
    margin-bottom: 20px;
}

/*

===============================
Review Area
===============================

*/
.review-area .reviews {
    padding: 40px;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

@media (max-width: 400px) {
    .review-area .reviews {
        padding: 20px;
    }
}

.review-area .reviews .single-review .reviewer-thumb {
    margin-bottom: 20px;
    overflow: hidden;
    color: #434a53;
}

.review-area .reviews .single-review .reviewer-thumb img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.review-area .reviews .single-review .reviewer-thumb h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
}

.review-area .reviews .single-review .reviewer-thumb span {
    display: block;
    font-size: 14px;
    color: #5350ff;
}

.review-area .reviews .single-review .reviewer-thumb .stars i {
    color: #ffb142;
    font-size: 14px;
}

.review-area .reviews .single-review p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    color: #292929;
    font-style: italic;
}

.review-area .reviews .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: block;
    transform: translateX(-50%);
}

.review-area .reviews .owl-dots .owl-dot {
    border: 2px solid #434a53;
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.review-area .reviews .owl-dots .owl-dot.active {
    border-color: #5350ff;
    background: #5350ff;
}

@media (max-width: 400px) {
    .review-area .reviews .owl-dots {
        display: none;
    }
}

.review-area .testimonials {
    padding: 85px 45px;
    background: #ffffff;
    border-radius: 8px;
    position: relative;
}

.review-area .testimonials::after {
    position: absolute;
    content: "";
    right: 30px;
    top: 45px;
    background: url("../images/quote.jpg") no-repeat;
    height: 50px;
    width: 50px;
}

@media (max-width: 400px) {
    .review-area .testimonials {
        padding: 20px;
    }
}

.review-area .testimonials .single-review .reviewer-thumb {
    margin-bottom: 10px;
    overflow: hidden;
    color: #434a53;
}

.review-area .testimonials .single-review .reviewer-thumb h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
}

.review-area .testimonials .single-review .reviewer-thumb span {
    display: block;
    font-size: 14px;
    color: #5350ff;
}

.review-area .testimonials .single-review p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    color: #434a53;
    font-family: "Quicksand", sans-serif;
}

.review-area .testimonials .owl-nav {
    position: absolute;
    left: 45px;
    bottom: 30px;
    display: block;
}

.review-area .testimonials .owl-nav button i {
    color: #c4c4c7;
    border: 2px solid #c4c4c7;
    font-size: 14px;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    transition: 0.4s;
}

.review-area .testimonials .owl-nav button i:hover {
    color: #5350ff;
    border: 2px solid #5350ff;
}

@media (max-width: 400px) {
    .review-area .testimonials .owl-nav {
        display: none;
    }
}

.review-area .buyer-review .single-buyer-review p {
    font-style: italic;
}

.review-area .buyer-review .single-buyer-review .thum-info img {
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.review-area .buyer-review .single-buyer-review .thum-info h5 {
    font-weight: 600;
    font-size: 20px;
}

/*

===============================
Team Area
===============================

*/
.team-area .single-team {
    text-align: center;
    transition: 0.4s;
    margin-bottom: 30px;
}

.team-area .single-team img {
    width: 100%;
}

.team-area .single-team .team-content {
    padding: 30px 30px 40px 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0 100%);
    transition: 0.4s;
    margin-top: -20px;
}

.team-area .single-team .team-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 0.4s;
}

.team-area .single-team .team-content p {
    font-size: 14px;
    color: #434a53;
}

.team-area .single-team .team-content .social a {
    margin: 0 5px;
    font-size: 18px;
}

.team-area .single-team .team-content .social a:hover {
    color: #18dcff;
}

.team-area .single-team:hover .team-content {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.team-area .single-team:hover .team-content h4 {
    color: #18dcff;
}

.team-area .single-team-2 {
    text-align: center;
    transition: 0.4s;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.team-area .single-team-2 .social {
    position: absolute;
    width: 50px;
    left: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    transition: 0.5s;
    opacity: 0;
}

.team-area .single-team-2 .social a {
    margin: 20px 0px;
    font-size: 18px;
    display: block;
}

.team-area .single-team-2 .social a:hover {
    color: #5350ff;
}

.team-area .single-team-2 img {
    width: 100%;
}

.team-area .single-team-2 .team-content {
    padding: 30px 30px 40px 30px;
    background: #ffffff;
    transition: 0.4s;
}

.team-area .single-team-2 .team-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 0.4s;
}

.team-area .single-team-2 .team-content p {
    color: #434a53;
    margin-bottom: 0;
}

.team-area .single-team-2:hover .social {
    opacity: 1;
}

.team-area .single-team-2:hover .team-content h4 {
    color: #5350ff;
}

.team-area .single-team-3 {
    transition: 0.4s;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 30px;
    background: #ffffff;
}

.team-area .single-team-3 img {
    width: 100%;
    height: 100%;
}

.team-area .single-team-3 .team-content {
    padding: 30px 10px 30px 0;
    transition: 0.4s;
}

@media (max-width: 575px) {
    .team-area .single-team-3 .team-content {
        padding: 30px;
    }
}

.team-area .single-team-3 .team-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 0.4s;
}

.team-area .single-team-3 .team-content span {
    color: #86BC42;
    margin-bottom: 10px;
    font-size: 14px;
}

.team-area .single-team-3 .team-content p {
    color: #434a53;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.team-area .single-team-3 .team-content .social {
    margin-bottom: 10px;
}

.team-area .single-team-3 .team-content .social a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
}

.team-area .single-team-3 .team-content .social a:hover {
    color: #18dcff;
}

.team-area .single-team-4 {
    text-align: center;
    transition: 0.4s;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.team-area .single-team-4 img {
    width: 100%;
}

.team-area .single-team-4 .team-content {
    padding: 20px 30px;
    background: #ffffff;
    transition: 0.5s;
    position: absolute;
    width: 100%;
    bottom: -10px;
    opacity: 0;
}

.team-area .single-team-4 .team-content .social {
    transition: 0.5s;
}

.team-area .single-team-4 .team-content .social a {
    margin: 0 5px;
    font-size: 14px;
}

.team-area .single-team-4 .team-content .social a:hover {
    color: #5350ff;
}

.team-area .single-team-4 .team-content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: 0.4s;
    color: #5350ff;
}

.team-area .single-team-4 .team-content p {
    color: #434a53;
    margin-bottom: 8px;
    font-size: 13px;
}

.team-area .single-team-4:hover .team-content {
    opacity: 1;
    bottom: 0px;
}

/*

===============================
brands Area
===============================

*/
.brands {
    text-align: center;
}

.brands .single-brands {
    margin-bottom: 30px;
}

.brands .single-brands a {
    display: block;
    border: 2px solid #eaeaea;
    padding: 20px;
}

.brands .single-brands a:hover {
    border-color: #5350ff;
}

.brands .single-brands a img {
    height: 55px;
    width: auto !important;
    margin: auto;
}

/*

===============================
Counter Area
===============================

*/
.counter-area {
    background-size: cover;
}

.counter-area .single-counter {
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 575px) {
    .counter-area .single-counter {
        margin-bottom: 50px;
    }
}

.counter-area .single-counter h3 {
    font-size: 62px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    margin-top: -8px;
}

.counter-area .single-counter h5 {
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
}

/*

===============================
Call to action Area
===============================

*/
.call-to-action {
    padding: 70px 0;
    color: #fff;
}

.call-to-action h2 {
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.call-to-action p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

.call-to-action .get-service-btn {
    float: right;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .call-to-action .get-service-btn {
        float: none;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .call-to-action {
        text-align: center;
    }

    .call-to-action h3 {
        margin-bottom: 10px;
    }

    .call-to-action p {
        margin-bottom: 20px;
    }
}

/* ==============================
   Portfolio area
   ============================== */
.portfolio {
    margin-bottom: -15px;
}

.portfolio.no-gutter {
    margin-bottom: 0px;
}

.portfolio-filter {
    margin: 0;
    margin-top: -5px;
    padding: 0;
    list-style: none;
}

.port-filter-center {
    text-align: center;
}

.portfolio-filter li {
    display: inline-block;
}

.portfolio-filter li a {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 15px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.portfolio-filter li a:hover,
.portfolio-filter li.active a,
.f-link li a:hover,
.f-link li.active a {
    color: #ffffff;
    background: #18dcff;
}

/*----------------------------*/
.portfolio .portfolio-item {
    float: left;
}

.portfolio .portfolio-item .thumb {
    position: relative;
    display: block;
}

.portfolio .portfolio-item .thumb {
    position: relative;
    display: block;
}

.portfolio .portfolio-item .thumb img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    background-image: linear-gradient(to left, #a756ffcc 0%, #5b98ffd1 100%);
    background-image: -moz-linear-gradient(to left, #a756ffcc 0%, #5b98ffd1 100%);
    background-image: -webkit-linear-gradient(to left, #a756ffcc 0%, #5b98ffd1 100%);
    background-image: -ms-linear-gradient(to left, #a756ffcc 0%, #5b98ffd1 100%);
}

.portfolio-item:hover .portfolio-hover,
.portfolio-item:hover .portfolio-hover .portfolio-description,
.portfolio-item:hover .portfolio-hover .action-btn {
    opacity: 1;
}

.portfolio-item:hover .portfolio-hover .portfolio-description {
    top: 50%;
}

.portfolio-hover .portfolio-description {
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
    padding: 10%;
    -webkit-transition: all .3s .3s;
    transition: all .3s .3s;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.portfolio-description,
.portfolio-description h4,
.portfolio-description h4 a,
.portfolio-hover .action-btn a {
    text-align: center;
    color: #fff;
}

.portfolio-description h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
}

.portfolio-description p {
    font-weight: 600;
    margin-top: 5px;
}

.portfolio-description i {
    font-size: 24px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

.portfolio-description a,
.portfolio-title a {
    color: #fff;
}

/*gutter*/
.portfolio.gutter .portfolio-item {
    padding: 15px;
}

/*portfolio 2 grid*/
.portfolio.column-2 .portfolio-item {
    width: 49.99%;
}

/*portfolio 3 grid*/
.portfolio.column-3 .portfolio-item {
    width: 33.3333333%;
}

/*portfolio 4 grid*/
.portfolio.column-4 .portfolio-item {
    width: 24.98%;
}

/*portfolio 5 grid*/
.portfolio.column-5 .portfolio-item {
    width: 19.99%;
}

/*portfolio 6 grid*/
.portfolio.column-6 .portfolio-item {
    width: 16.666666667%;
}

/* ----------------------------------------------------------------
     Isotope Filtering
   -----------------------------------------------------------------*/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    z-index: 1;
    pointer-events: none;
}

/*Isotope CSS3 transitions */
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

/*disabling Isotope CSS3 transitions */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}

/*--------------------------------------
       responsive styles
   --------------------------------------*/
@media screen and (max-width: 1024px) {
  /*portfolio   grid*/
    .portfolio.column-2 .portfolio-item,
  .portfolio.column-3 .portfolio-item,
  .portfolio.column-4 .portfolio-item,
  .portfolio.column-5 .portfolio-item,
  .portfolio.column-6 .portfolio-item {
        width: 50%;
    }

    .portfolio-box {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-filter li {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
  /*portfolio   grid*/
    .portfolio.column-2 .portfolio-item,
  .portfolio.column-3 .portfolio-item,
  .portfolio.column-4 .portfolio-item,
  .portfolio.column-5 .portfolio-item,
  .portfolio.column-6 .portfolio-item,
  .testimonial.grid-2 li {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .portfolio-filter li {
        margin-bottom: 10px;
    }

    .portfolio-filter li a {
        display: block;
        margin-bottom: 10px;
    }
}

.portfolio-details h3, .portfolio-details h4 {
    margin-bottom: 10px;
}

.portfolio-details img {
    width: 100%;
    margin-bottom: 30px;
}

.portfolio-details p {
    margin-bottom: 20px;
}

.portfolio-details p.italic-text {
    font-style: italic;
    font-size: 20px;
    color: #434a53;
}

.portfolio-details .prev-next {
    margin-top: 20px;
}

.portfolio-details .prev-next a {
    padding: 12px 30px;
    border-radius: 50px;
    display: inline-block;
    color: #434a53;
    background: #f5f5f5;
    font-weight: 400;
    font-size: 14px;
}

.portfolio-details .prev-next a:hover {
    background: #5350ff;
    color: #ffffff;
}

.portfolio-details .prev-next a .prev-btn {
    float: left;
}

.portfolio-details .prev-next a.active {
    background: #5350ff;
    color: #ffffff;
}

@media (max-width: 400px) {
    .portfolio-details .prev-next a.active {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
}

.portfolio-details .prev-next .next-btn {
    float: right;
}

@media (max-width: 400px) {
    .portfolio-details .prev-next .next-btn {
        float: none;
        text-align: center;
        display: block;
    }
}

/*

===============================
Work Area
===============================

*/
.work-area .single-work {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.work-area .single-work img {
    width: 100%;
    height: 100%;
}

.work-area .single-work .single-work-content {
    padding: 0 50px;
}

@media (max-width: 1600px) {
    .work-area .single-work .single-work-content {
        padding: 0 20px;
    }
}

@media (max-width: 575px) {
    .work-area .single-work .single-work-content {
        padding: 70px 30px;
    }
}

.work-area .single-work .single-work-content h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (max-width: 1600px) {
    .work-area .single-work .single-work-content h4 {
        margin-bottom: 10px;
    }
}

.work-area .single-work .single-work-content p {
    margin-bottom: 30px;
}

@media (max-width: 1600px) {
    .work-area .single-work .single-work-content p {
        margin-bottom: 10px;
    }
}

.work-area .single-work .single-work-content a {
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.work-area .single-work .single-work-content a.bttn-small:hover {
    background: #ffffff;
    color: #5350ff;
}

.work-area .single-work.img {
    position: relative;
}

.work-area .single-work.img:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0.5;
    z-index: 1;
}

/*

===============================
Pricing Plan Area
===============================

*/
.pricing-area .single-pricing {
    padding: 55px 40px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
}

.pricing-area .single-pricing i {
    font-size: 42px;
    margin-bottom: 40px;
    display: block;
    color: #18dcff;
}

.pricing-area .single-pricing h1 {
    font-size: 52px;
    color: #434a53;
    margin-bottom: 10px;
}

.pricing-area .single-pricing h1 span {
    position: relative;
    bottom: 30px;
    font-size: 26px;
    margin-right: 0px;
    font-weight: 700;
}

.pricing-area .single-pricing h1 b {
    font-weight: 400;
    font-size: 18px;
}

.pricing-area .single-pricing h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.pricing-area .single-pricing ul {
    margin-bottom: 30px;
}

.pricing-area .single-pricing ul li {
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
}

/*

===============================
growth-stat
===============================

*/
.growth-stat img {
    border-radius: 8px;
    width: 100%;
}

@media (max-width: 575px) {
    .growth-stat img {
        order: 1;
    }
}

.growth-stat .growth-content {
    padding: 50px 0;
}

@media (max-width: 991px) {
    .growth-stat .growth-content {
        padding: 20px 0;
    }
}

.growth-stat .growth-content h3 {
    margin-bottom: 20px;
    font-size: 22px;
}

.growth-stat .growth-content h3 span {
    font-size: 16px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #5350ff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.growth-stat .growth-content p {
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    .growth-stat .growth-content {
        order: 2;
    }
}

/*

===============================
Blog Area
===============================

*/
.blog-area {
  /* Pagination */
}

.blog-area .single-blog {
    margin-bottom: 30px;
}

.blog-area .single-blog:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog .single-blog-img {
    position: relative;
}

.blog-area .single-blog .single-blog-img img {
    width: 100%;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-45%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog .single-blog-img a:hover {
    color: #18dcff;
}

.blog-area .single-blog .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    width: 90%;
    margin: auto;
    margin-top: -70px;
    position: relative;
}

.blog-area .single-blog .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #434a53;
}

.blog-area .single-blog .single-blog-content .blog-meta span a:hover {
    color: #18dcff;
}

.blog-area .single-blog .single-blog-content .blog-meta span a i {
    color: #18dcff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 1.4em;
}

.blog-area .single-blog .single-blog-content h3 a {
    color: #292929;
}

.blog-area .single-blog .single-blog-content h3 a:hover {
    color: #18dcff;
    text-decoration: underline;
}

.blog-area .single-blog-2 {
    margin-bottom: 30px;
}

.blog-area .single-blog-2:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-2:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-2 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-2 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-2 .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog-2 .single-blog-img a:hover {
    color: #18dcff;
}

.blog-area .single-blog-2 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-2 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #434a53;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a:hover {
    color: #5350ff;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a i {
    color: #5350ff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog-2 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-2 .single-blog-content h3 a {
    color: #292929;
}

.blog-area .single-blog-2 .single-blog-content h3 a:hover {
    color: #5350ff;
    text-decoration: underline;
}

.blog-area .single-blog-2 .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .single-blog-3 {
    margin-bottom: 30px;
}

.blog-area .single-blog-3:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-3:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-3 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-3 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta {
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta span {
    text-transform: uppercase;
    background: #5350ff;
    padding: 8px 22px;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.blog-area .single-blog-3 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-3 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-3 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-3 .single-blog-content h3 a {
    color: #292929;
}

.blog-area .single-blog-3 .single-blog-content h3 a:hover {
    color: #5350ff;
    text-decoration: underline;
}

.blog-area .single-blog-3 .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .styled-pagination {
    position: relative;
    margin-bottom: 30px;
}

.blog-area .styled-pagination li {
    position: relative;
    display: inline-block;
    margin: 0px 3px 0px 0px;
}

.blog-area .styled-pagination li.previous a, .blog-area .styled-pagination li.next a {
    color: #292929;
}

.blog-area .styled-pagination li a {
    position: relative;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    min-width: 40px;
    border-radius: 50%;
    color: #292929;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    background-color: #f1f1f1;
}

.blog-area .styled-pagination li a:hover, .blog-area .styled-pagination li a.active {
    color: #ffffff;
    background-color: #5350ff;
}

.blog-area .blog-details img {
    width: 100%;
    margin-bottom: 30px;
}

.blog-area .blog-details .blog-meta {
    margin-bottom: 10px;
}

.blog-area .blog-details .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #434a53;
}

.blog-area .blog-details .blog-meta span a:hover {
    color: #5350ff;
}

.blog-area .blog-details .blog-meta span a i {
    color: #5350ff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .blog-details h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

.blog-area .blog-details .blockquote {
    font-size: 16px;
    border-left: 2px solid #5350ff;
    font-style: italic;
    padding-left: 15px;
    margin: 20px 0;
}

.blog-area .blog-all-comments h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

.blog-area .blog-all-comments .blog-comments {
    margin-bottom: 40px;
    padding: 30px 40px;
    overflow: hidden;
    background: #f9f9f9;
}

.blog-area .blog-all-comments .blog-comments div {
    overflow: hidden;
}

.blog-area .blog-all-comments .blog-comments .author-thumb {
    width: 20%;
    float: left;
}

.blog-area .blog-all-comments .blog-comments .author-thumb img {
    border-radius: 50%;
    width: 70px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details h4 {
    float: left;
    font-size: 18px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details .comment-reply-btn {
    float: right;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-designation {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.blog-area .blog-comment-form {
    margin-bottom: 30px;
}

.blog-area .blog-comment-form h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blog-area .blog-comment-form input, .blog-area .blog-comment-form textarea {
    width: 100%;
    border: 2px solid #E5E5E5;
    text-indent: 20px;
    margin-bottom: 30px;
    transition: .3s;
    background: transparent;
}

.blog-area .blog-comment-form input:focus, .blog-area .blog-comment-form textarea:focus {
    border-color: #5350ff;
}

.blog-area .blog-comment-form input {
    height: 50px;
}

.blog-area .blog-comment-form textarea {
    padding-top: 15px;
}

.blog-area .blog-comments + .blog-comments {
    margin-left: 15%;
}

@media (max-width: 767px) {
    .blog-area .blog-comment-form {
        margin-bottom: 40px;
    }
}

.blog-area .post-share-and-tag {
    margin: 40px 0 60px 0;
}

.blog-area .post-share-and-tag .social {
    float: right;
}

@media (max-width: 767px) {
    .blog-area .post-share-and-tag .social {
        float: none;
        text-align: left;
        margin-top: 20px;
    }
}

.blog-area .post-share-and-tag .social span {
    font-size: 20px;
    font-weight: 700;
}

.blog-area .post-share-and-tag .social a {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

.blog-area .post-share-and-tag .tags a {
    color: #434a53;
    text-transform: capitalize;
}

.blog-area .post-share-and-tag .tags a:hover {
    color: #5350ff;
}

/*

===============================
FAQ Area
===============================

*/
.faq-contents {
    display: block;
    height: auto;
}

.faq-contents .accordion {
    list-style: none;
    padding: 0;
}

.faq-contents .accordion li {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.faq-contents .accordion li:last-child {
    margin-bottom: 0px;
}

.faq-contents .accordion li p {
    display: none;
    padding: 10px 30px 20px 20px;
    color: #333;
    font-size: 16px;
    background: #fff;
    margin-bottom: 0;
    line-height: 2;
    border-radius: 4px;
}

.faq-contents .accordion li a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333333;
    user-select: none;
    font-weight: 600;
}

.faq-contents .accordion li a i {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

.faq-contents .accordion li a.active {
    color: #333333;
    border: 0;
}

.faq-contents .accordion li a.active::after {
    transform: rotate(225deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.faq-contents .accordion li a::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    position: absolute;
    right: 25px;
    content: " ";
    top: 22px;
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*

===============================
Loan area
===============================

*/
.loan-area label {
    display: block;
    font-size: 18px;
    color: #292929;
    margin-bottom: 10px;
}

.loan-area input {
    width: 100%;
    border: 2px solid #efefef;
    height: 55px;
    text-indent: 20px;
    margin-bottom: 15px;
}

.loan-area small {
    font-size: 14px;
}

.loan-area .loan-confirm-form {
    padding: 30px 40px;
    border: 4px solid #efefef;
}

.loan-area .loan-confirm-form p {
    font-size: 30px;
    margin-bottom: 45px;
    font-weight: 300;
    color: #5350ff;
}

.loan-area .loan-confirm-form p strong {
    display: block;
    font-size: 18px;
    color: #434a53;
    margin-bottom: 20px;
}

/*

===============================
feature area
===============================

*/
.feature-area .single-feature {
    margin-bottom: 30px;
    border: 2px solid #efefef;
    padding: 45px 30px;
    text-align: center;
}

.feature-area .single-feature img {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
    transition: 0.4s;
}

.feature-area .single-feature h4 {
    font-weight: 300;
    color: #292929;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.feature-area .single-feature p {
    color: #434a53;
    margin-bottom: 15px;
}

.feature-area .single-feature a {
    font-size: 17px;
    font-weight: 400;
    color: #292929;
}

.feature-area .single-feature a:hover {
    color: #5350ff;
    text-decoration: underline;
}

.feature-area .single-feature:hover img {
    transform: scale(1.2);
}

.feature-area .single-feature-2 {
    margin-bottom: 30px;
    padding: 0 15px;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

.feature-area .single-feature-2 i {
    font-size: 34px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    transition: 0.4s;
}

.feature-area .single-feature-2 h4 {
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s;
}

.feature-area .single-feature-2 p {
    margin-bottom: -5px;
}

.feature-area .single-feature-2:hover i {
    background: #ffffff;
    color: #5350ff;
}

/*

===============================
Breadcrumb area
===============================

*/
.breadcrumb-area {
    padding: 220px 0 100px 0;
    position: relative;
    overflow: hidden;
}

.breadcrumb-area .banner-title h2 {
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .breadcrumb-area .banner-title h2 {
        font-size: 42px;
    }
}

.breadcrumb-area ul li {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
}

.breadcrumb-area ul li a {
    margin-right: 20px;
    position: relative;
    color: #ffffff;
}

.breadcrumb-area ul li a:after {
    position: absolute;
    content: "\f105";
    font-family: Fontawesome;
    right: -15px;
    top: -3px;
}

@media (max-width: 767px) {
    .custom-banner {
        text-align: center;
    }

    .page-breadcrumb ul {
        float: none;
    }

    .banner-title {
        margin-bottom: 20px;
    }
}

/*

===============================
Privacy polices area
===============================

*/
.polices-content {
    margin-top: -6px;
}

.polices-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.polices-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.polices-content p {
    margin-bottom: 30px;
}

.polices-content ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
}

.polices-content ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f111";
    font-family: Fontawesome;
    color: #5350ff;
    font-size: 8px;
}

.polices-content ul li:last-child {
    margin-bottom: 0px;
}

.polices-content.cl-white ul li:before {
    color: #ffffff;
}

/*

===============================
Contact area
===============================

*/
.contact-form {
    margin-bottom: 30px;
}

.contact-form form h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}

.contact-form form p {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    border: 2px solid #ddd;
    text-indent: 15px;
    margin-bottom: 15px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    border: 2px solid #5350ff;
}

.contact-form form input {
    height: 50px;
}

.contact-form form textarea {
    padding-top: 10px;
}

.contact-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #F9F9F9;
    padding: 40px;
}

.contact-content h4 {
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-content h5 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contact-content p {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    color: #434a53;
}

.contact-content .social {
    margin-top: 20px;
}

.contact-content .social a {
    height: 30px;
    width: 30px;
    font-size: 12px;
    color: #ffffff;
    line-height: 32px;
    display: inline-block;
    margin-right: 4px;
    text-align: center;
    border-radius: 50%;
}

/*

===============================
newslatter area
===============================

*/
.newslatter form {
    position: relative;
}

.newslatter form input {
    width: 87%;
    margin-right: 2%;
    height: 60px;
    float: left;
    box-shadow: 0px 0px 9px 1px rgba(253, 77, 64, 0.1);
    border-radius: 100px;
    font-size: 16px;
    text-indent: 30px;
}

@media (max-width: 575px) {
    .newslatter form input {
        width: 84%;
    }
}

@media (max-width: 480px) {
    .newslatter form input {
        width: 77%;
    }
}

.newslatter form button {
    float: left;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    color: #5350ff;
    background: #ffffff;
    font-size: 22px;
}

.newslatter form button:hover {
    background: #ffb142;
    color: #ffffff;
}

/*

===============================
MIssion Vission area
===============================

*/
.single-mission-vission {
    padding: 60px;
    color: #ffffff;
    background: url("../images/mission-vission-bf.jpg") no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09);
    position: relative;
    margin-bottom: 30px;
}

@media (max-width: 450px) {
    .single-mission-vission {
        padding: 45px;
    }
}

@media (max-width: 350px) {
    .single-mission-vission {
        padding: 30px;
    }
}

.single-mission-vission::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #5350ff;
    left: 0;
    top: 0;
    opacity: 0.9;
    transition: 0.4s;
}

.single-mission-vission h4 {
    margin-bottom: 15px;
    transition: 0.4s;
    position: relative;
    display: inline-block;
}

.single-mission-vission h4::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    background: #ffffff;
    right: -50px;
    top: 15px;
}

.single-mission-vission p {
    margin-bottom: 20px;
    line-height: 1.7em;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 300;
}

.single-mission-vission:hover {
    background: #ffffff;
}

.single-mission-vission:hover h4 {
    color: #5350ff;
}

.single-mission-vission:hover h4::after {
    background: #5350ff;
}

.single-mission-vission:hover p {
    color: #434a53;
}

.single-mission-vission:hover a {
    background: #5350ff;
    color: #ffffff;
}

.single-mission-vission:hover:before {
    background: #ffffff;
    opacity: 1;
}

/*
  right-sticky-wapper
*/
.right-sticky-wapper {
    position: fixed;
    transition: all ease .35s;
    top: 30%;
    right: -320px;
    width: 320px;
    height: auto;
    left: auto;
    height: auto;
    min-height: 120px;
    background: #fff;
    z-index: 999;
}

@media (max-width: 450px) {
    .right-sticky-wapper {
        right: -260px;
        width: 260px;
    }
}

.right-sticky-wapper .right-sticky-trigger {
    position: absolute;
    right: 100%;
    top: 0;
    height: 50px;
    min-width: 50px;
    background: #ffffff;
    line-height: 50px;
    padding: 0 4px;
    text-align: center;
    color: #5350ff;
    box-shadow: 0px 0px 15px 0px rgba(72, 67, 211, 0.12);
}

.right-sticky-wapper .right-sticky-content {
    background: #ffffff;
    padding: 20px;
    text-align: left;
    max-height: 350px;
    overflow-y: scroll;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.right-sticky-wapper .right-sticky-content form input, .right-sticky-wapper .right-sticky-content form textarea {
    width: 100%;
    border: 2px solid #ddd;
    padding: 0 15px;
    transition: 0.3s;
    margin-bottom: 15px;
}

.right-sticky-wapper .right-sticky-content form input:focus, .right-sticky-wapper .right-sticky-content form textarea:focus {
    border: 2px solid #5350ff;
}

.right-sticky-wapper .right-sticky-content form input {
    height: 45px;
}

.right-sticky-wapper .right-sticky-content form textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-sticky-wapper.active {
    right: 0 !important;
}

/* Loan details */
.empty-image {
    padding: 200px 0;
    position: relative;
}

.empty-image .video-gal {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.empty-image .video-gal a {
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background: #5350ff;
    font-size: 32px;
    border-radius: 50%;
}

.empty-image .video-gal a:hover {
    background: #ffffff;
    color: #5350ff;
}

.single-loan-feature {
    margin-bottom: 30px;
    text-align: center;
}

.single-loan-feature i {
    font-size: 36px;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    color: #5350ff;
    border-radius: 50%;
    background: #5350ff14;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.4s;
}

.single-loan-feature h4 {
    font-weight: 500;
    font-size: 20px;
}

.single-loan-feature:hover i {
    background: #5350ff;
    color: #ffffff;
}

.loan-criteria {
    margin-bottom: 30px;
}

.loan-criteria ul {
    margin-bottom: -5px;
}

.loan-criteria ul li {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}

.loan-criteria ul li:last-child {
    margin-bottom: 0;
}

.loan-criteria ul li::before {
    position: absolute;
    content: "\f209";
    font-family: Fontawesome;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #5350ff;
}

.single-faq {
    margin-bottom: 40px;
}

.single-faq h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.single-faq p {
    margin-bottom: 0;
    color: #434a53;
}

/*

===============================
Error Area
===============================

*/
.error-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-cont h3 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 400;
}

.error-cont p {
    font-family: "Quicksand", sans-serif;
}

.error-cont form {
    position: relative;
}

.error-cont form input {
    width: 100%;
    border: 2px solid #ddd;
    text-indent: 20px;
    height: 50px;
    transition: 0.3s;
    font-family: "Quicksand", sans-serif;
}

.error-cont form input:focus {
    border: 2px solid #5350ff;
}

.error-cont form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    color: #5350ff;
}

/*

===============================
Job Post Area
===============================

*/
.single-job {
    overflow: hidden;
    border: 3px solid #e4e4e4;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px;
    transition: 0.3s;
}

.single-job:last-child {
    margin-bottom: 0px;
}

.single-job:hover {
    border-color: #5350ff;
}

.single-job .job-des {
    width: 75%;
    float: left;
}

@media (max-width: 767px) {
    .single-job .job-des {
        width: 100%;
        margin-bottom: 20px;
    }
}

.single-job .job-des h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.single-job .job-des h3 a {
    color: #434a53;
}

.single-job .job-des h3 a:hover {
    color: #5350ff;
}

.single-job .job-des p {
    margin-bottom: 0px;
    font-size: 14px;
}

.single-job .job-apply-btn {
    width: 25%;
    float: left;
}

@media (max-width: 767px) {
    .single-job .job-apply-btn {
        width: 100%;
        float: none;
    }
}

.single-job .job-apply-btn a {
    float: right;
}

@media (max-width: 767px) {
    .single-job .job-apply-btn a {
        float: none;
    }
}

/*

===============================
Online Apply Form
===============================

*/
.apply-form .single-block-form {
    margin-bottom: 40px;
}

.single-block-form:last-child {
    margin-bottom: 0px;
}

.apply-form h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #292929;
    margin-bottom: 25px;
}

.apply-form h3 span {
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 50%;
    background: #5350ff;
    margin-right: 8px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.apply-form input, .apply-form select {
    width: 100%;
    margin-bottom: 20px;
    height: 55px;
    text-indent: 15px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    color: #434a53;
    background: #ffffff;
    font-size: 14px;
}

.select-bar {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #e4e4e4;
    height: 55px;
    line-height: 52px;
}

.select-bar:focus {
    border: 2px solid #5350ff;
}

.select-bar .list {
    width: 100%;
    border: 2px solid #5350ff;
}

.select-bar:after {
    height: 7px;
    width: 7px;
    right: 15px;
}

.apply-form textarea {
    width: 100%;
    margin-bottom: 20px;
    text-indent: 15px;
    padding-top: 10px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    color: #434a53;
    background: #ffffff;
    font-size: 14px;
}

.apply-form input:focus, .apply-form select:focus, .apply-form textarea:focus {
    border: 2px solid #5350ff;
}

.apply-form input[type="checkbox"] {
    width: initial;
    height: initial;
}

.apply-form label {
    display: inline-block;
    font-size: 14px;
    color: #434a53;
}

.apply-form a {
    display: block;
    color: #5350ff;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.apply-form a:hover {
    text-decoration: underline;
}

/*

===============================
Sidebar
===============================

*/
.site-sidebar .single-sidebar {
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(96, 187, 191, 0.15);
}

.site-sidebar .single-sidebar div {
    overflow: hidden;
}

.site-sidebar .single-sidebar:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar h3 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar form {
    width: 100%;
    position: relative;
    height: 50px;
    border-radius: 4px;
}

.site-sidebar .single-sidebar form input {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    text-indent: 15px;
    border: 2px solid #e4e4e4;
}

.site-sidebar .single-sidebar form input:hover, .site-sidebar .single-sidebar form input:focus {
    border-color: #5350ff;
}

.site-sidebar .single-sidebar form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #5350ff;
    height: 100%;
    width: 50px;
}

.site-sidebar .single-sidebar ul li {
    margin-bottom: 20px;
    position: relative;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar ul li:before {
    position: absolute;
    content: "\f101";
    font-family: 'Fontawesome';
    color: #5350ff;
    left: -10px;
    opacity: 0;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:hover {
    padding-left: 15px;
}

.site-sidebar .single-sidebar ul li:hover:before {
    left: 0px;
    opacity: 1;
}

.site-sidebar .single-sidebar ul li a {
    color: #434a53;
    display: block;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar ul li a:hover {
    color: #5350ff;
}

.site-sidebar .single-sidebar .social-follow a {
    padding: 25px 30px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    margin: 0 1px;
}

.site-sidebar .single-sidebar .social-follow a:hover {
    background: #5350ff;
}

.site-sidebar .single-sidebar .social-follow a i {
    display: block;
    font-size: 18px;
}

@media (max-width: 991px) {
    .site-sidebar .single-sidebar .social-follow a {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .site-sidebar .single-sidebar .social-follow a {
        width: 100%;
    }
}

.site-sidebar .single-sidebar .archives a {
    display: block;
    margin-bottom: 15px;
    font-family: "Quicksand", sans-serif;
    color: #292929;
}

.site-sidebar .single-sidebar .archives a:hover {
    color: #5350ff;
}

.site-sidebar .single-sidebar .archives a:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar .archives a span {
    float: right;
}

.site-sidebar .single-sidebar a img {
    width: 100%;
}
